In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_csv("simulated_transactions.csv",na_values=np.nan)
data.columns = data.columns.str.lower()
data.columns = data.columns.str.replace(" ","_")
data.head(5)

#data with 3rd party numbers
priv_contacts_data = data
#data without
data.drop(data.columns[-2],inplace=True,axis=1)

What we want to look into:

-where money goes /

-spending amount habits

-balance trends

In [ ]:
data.head()

         date timestamp   account_no  balance  amount third_party_name
0  01/01/2023     00:00  417831169.0   4166.0  2870.0     Pets at Home
1  01/01/2023     00:00  417831169.0   1866.0 -2300.0              NaN
2  01/01/2023     00:00  684967752.0   3296.0  2300.0              NaN
3  01/01/2023     00:00  619428091.0   2980.0  1596.0  Happy Days Home
4  01/01/2023     00:00  658100753.0   3904.0  2870.0      Pets Corner

In [ ]:
#Finding the average amount spent on each of the companies

#First need to seperate out all the account numbers
numbers = []
for number in data["account_no"]:
  if number in numbers:
    pass
  else:
    numbers.append(number)
numbers = pd.Series(numbers)

#Then get the data for each account
account_data = []
for number in numbers:
  account_data.append(data[data["account_no"]==number])

In [ ]:
#Get sum of amount for each party name for each account
#List of 3rd party names
companies = []
for company in data["third_party_name"]:
  if company in companies:
    pass
  else:
    companies.append(company)

In [ ]:
third_party_amount_data = []
for account in account_data:
  needed_data = pd.DataFrame().assign(amount=account["amount"],third_party_name=account["third_party_name"])
  needed_data = needed_data.groupby(["third_party_name"]).sum()
  third_party_amount_data.append(needed_data)

In [ ]:
average_amount = []
for company in companies:
  sum = 0
  for account in account_data:
    sum += account["amount"].where(account["third_party_name"]==company).sum()
  sum = sum/len(data[data["third_party_name"]==company])
  average_amount.append(sum)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: RuntimeWarning: invalid value encountered in double_scalars

In [ ]:
print(average_amount)

[234.7945205479452, 0.0, 409.28767123287673, 492.7306849315068, 401.09589041095893, 271.7260273972603, 685.776438356164, 277.47945205479454, 205.4794520547945, 160.27397260273972, 155.55479452054803, 187.47260273972597, 277.1041095890412, -198.87410958904113, 266.13698630136986, -730.5890410958904, -18.544383561643855, -41.10534246575341, -44.55931506849312, -22.246575342465754, -96.56054794520549, -88.0545205479451, -21.01479452054796, -110.81835616438339, 401.5858904109589, -129.16191780821921, -73.54753424657534, -24.47027397260274, -45.54191780821915, -922.5554794520548, -395.61835616438367, -7.039041095890411, -214.8124657534246, -1430.972602739726, -10.872739726027397, 109.9123287671233, -20.536301369863015, -22.005479452054796, 57.581506849315076, -277.640410958904, -83.40438356164381, -715.5095890410959, -35.413698630136906, 71.78246575342467, -503.49808219178084, -76.11068493150684, -69.88602739726028, -29.62808219178082, -102.78575342465751, -327.94273972602736, -188.56767123287665, -47.15205479452053, -54.10054794520547, 38.296027397260254, -10.425753424657536, -0.15753424657534246, -23.621780821917813, -1.7808219178082192, -27.84767123287672, -2.191780821917808, -1.2324657534246575, 396.3424657534247, 341.027397260274, 754.8561643835617, 169.31506849315068, 114.72602739726027, 215.96438356164384, 350.52465753424656, 325.0, 135.68493150684932, -3.1506849315068495, -4.109589041095891, -1.5068493150684932]

In [ ]:
companies_data = pd.DataFrame().assign(name=np.array(companies),average_amount=pd.array(average_amount))

In [ ]:
incomes = companies_data[companies_data["average_amount"]>0]

spends = companies_data[companies_data["average_amount"]<0]

In [ ]:
incomes.sort_values("average_amount",inplace=True, ascending=False)
print(incomes)

                                     name  average_amount
68            University College Hospital     3954.166667
63                     Green Park Academy     3673.633333
7                         Premier Finance          3376.0
14  Howlader and Co Chartered Accountants          3238.0
66                                   Head         3153.08
3                             Pets Corner        2997.445
61                                Jollyes          2893.3
8                              Specsavers          2500.0
64                              Town High          2472.0
0                            Pets at Home     2448.571429
67                       Lavender Primary     2326.209091
9                         Under the Dryer          1950.0
65                     Mountain Warehouse          1675.0
62                             North Face     1659.666667
69                       Barbiee Boutique     1650.833333
4                               Kew House     1626.666667
2                         Happy Days Home     1572.526316
35                           Rose & Crown      471.976471
24                        Lloyds Pharmacy      259.431593
11                                  Boots      141.087629
6                                  Amazon      132.088865
12                                   Asda       124.10184
5                                 Halifax      100.181818
10                             Kings Arms       73.737013
43                            Hobby Lobby       54.584583
38                             Craftastic       38.920833
53                          Fitted Stitch       25.885278

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [ ]:
spends.sort_values("average_amount",inplace=True, ascending=True)
print(spends)

                  name  average_amount
15                 LBG     -258.898058
70       Mamas & Papas          -230.0
59             Starada          -160.0
71  Westport Care Home          -150.0
57       Victoria Park          -130.0
29      Loosely Fitted     -122.671311
41                 H&M     -114.544298
72  Sunny Care Nursery          -110.0
49             TK Maxx       -94.25126
39      Collector Cave      -79.794291
33       Tesco Express      -79.077214
40         Gamestation        -76.1065
52                Game      -73.135926
30          Coop Local      -67.007285
50              Reebok      -64.324486
44           JD Sports      -61.773714
48              Adidas      -54.769051
60            Cass Art         -44.985
13     Sainsbury Local      -41.838069
54    A Life on Canvas      -34.594545
20     Grand Union BJJ      -31.468393
51     Five Senses Art      -31.291818
46             JustEat      -29.152457
45           Deliveroo      -28.492718
27           The Works         -27.482
26         Daunt Books      -25.445355
47              AMAZON      -24.577841
37    Stitch By Stitch      -24.339394
25              Foyles       -23.57205
32          Hobbycraft      -22.660853
58          Selfridges      -22.587556
56                Etsy      -22.394675
34                Wool       -19.35878
23             PureGym          -18.99
21             Netflix          -15.99
18            Blizzard          -14.99
17          SquareOnix          -12.99
42             Topshop      -10.595082
28             Revella      -10.520759
22              Disney           -7.99
19                Xbox            -7.0
16      Mojang Studios           -5.99
31           Starbucks       -5.906322
36       Full of Beans        -5.87902
55           Coffee #1       -3.833333

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [ ]:
new = data.where(data["amount"]==2870.0)
new

             date timestamp   account_no  balance  amount third_party_name
0      01/01/2023     00:00  417831169.0   4166.0  2870.0     Pets at Home
1             NaN       NaN          NaN      NaN     NaN              NaN
2             NaN       NaN          NaN      NaN     NaN              NaN
3             NaN       NaN          NaN      NaN     NaN              NaN
4      01/01/2023     00:00  658100753.0   3904.0  2870.0      Pets Corner
...           ...       ...          ...      ...     ...              ...
12111         NaN       NaN          NaN      NaN     NaN              NaN
12112         NaN       NaN          NaN      NaN     NaN              NaN
12113         NaN       NaN          NaN      NaN     NaN              NaN
12114         NaN       NaN          NaN      NaN     NaN              NaN
12115         NaN       NaN          NaN      NaN     NaN              NaN

[12116 rows x 6 columns]